
body {
  position: relative;
    background: black;
    background-size: cover;
}
canvas {
  display: inline-block;
  margin: auto;
  visibility: hidden;
}


img {
  margin-left: -999px;
}

#win-screen {
  background-image: url('images/winning.png');
  position: absolute;
  top: 0;
  right: 0
  bottom: 0;
  left: -85px;
  width: 600px;
  height: 600px;
  margin: 0 34vw;
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
}


#start-screen {
  /*display: inline-block;*/
  background-image: url('images/startScreen2.png');
  display: block;
  position: absolute;
  top: 150px;
  left: 350px;
  /*margin: auto;*/
  width: 600px;
  height: 600px;
  margin: auto;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  /*background-color: lightblue;*/
  border: none;
  text-decoration: none;
  }

#game-over-screen {
    background-image: url('images/sadBell.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -65px;
    width: 600px;
    height: 600px;
    margin: 0 34vw;
    background-repeat: no-repeat;
    background-color: red;
    visibility: hidden;
  }

  #start-button {
    margin-top: 50%;
    margin-left: 25%;
    font-family: Overlock SC;
    font-size: 30px;
    border-radius: 10vh;
    width: 170px;
    height: 70px;
    background-color: orange;
    border: none;
  }

  #start-button:hover {
    background-color: red;
    border: none;
  }

  #restart-button {
    margin-top: 10%;
    margin-left: 5%;
    font-family: Overlock SC;
    font-size: 30px;
    color: white;
    border-radius: 10vh;
    width: 170px;
    height: 70px;
    background-color: black;
    border: none;
  }

  #restart-button:hover {
    background-color: orange;
    color: white;
    border: none;
  }

/*.title {
    font-family: Monofett;
    font-size: 60px;
    margin-left: 48%;
    margin-top: 0
}*/

.try-again-note {
  font-family: Overlock SC;
  font-size: 45px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: 180px;
  width: 150px;
}

#next-level-button {
    margin-top: 2%;
    margin-left: 67%;
    font-family: Overlock SC;
    font-size: 30px;
    color: white;
    background-color: red;
    border-radius: 10vh;
    width: 170px;
    height: 70px;
    position: absolute;
    border: none;
}

#next-level-button:hover{
  background-color: orange;
  border: none;
}

#reload-button {
    margin-top: 2%;
    margin-left: 5%;
    font-family: Overlock SC;
    font-size: 30px;
    color: white;
    background-color: blue;
    border-radius: 10vh;
    width: 170px;
    height: 70px;
    border: none;
}

#reload-button:hover {
  background-color: orange;
  border: none;
}

.winNote {
  font-family: Overlock SC;
  font-size: 65px;
  position: absolute;
  left: 30px;
  bottom: 50px;
  color: white;
}
